<div>
    <h3>Math</h3>
    <h4>Functions</h4>
    <ul>
        <li><code>min(a, b)</code></li>
        <li><code>max(a, b)</code></li>
        <li><code>random(x)</code></li>
        <li><code>abs(x)</code></li>
        <li><code>round(x)</code></li>
        <li><code>floor(x)</code></li>
        <li><code>ceil(x)</code></li>
        <li><code>sqrt(x)</code></li>
        <li><code>sin(x)</code></li>
        <li><code>cos(x)</code></li>
        <li><code>tan(x)</code></li>
        <li><code>log(x)</code></li>
        <li><code>log2(x)</code></li>
        <li><code>log10(x)</code></li>
        <li><code>pow(x, exp)</code></li>
        <li><code>isNaN(x)</code></li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>PI</code></li>
        <li><code>E</code></li>
        <li><code>Number.NaN</code></li>
        <li><code>Number.MIN_VALUE</code></li>
        <li><code>Number.MAX_VALUE</code></li>
        <li><code>Number.NEGATIVE_INFINITY</code></li>
        <li><code>Number.POSITIVE_INFINITY</code></li>
    </ul>
</div>