<div>
    <h3>Luboš Lakatoš</h3>
    <p>Tribut to the greatest lakatos repair guy Luboš (RIP)</p>
    <h4>Functions</h4>
    <ul>
        <li><code>lubos(arg)</code> Makes Luboš say what you want (arg is a string from enum <code>LAKATOS</code>)</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>LAKATOS = { nebuduToDelat, toSouNervy }</code></li>
    </ul>
</div>