<div>
    <p>A super simple introduction to the basic features of <strong>Parapple</strong> and <strong>Parascript</strong>.</p>
    <p>All you need to do in this example is to write a simple program for the Worker agent to make it output its name to the console.</p>
</div>