<div>
    <h4>Assignment</h4>
    <p>Write a program to print the factorial of the executing agent's ID.</p>
    <p>For example, the agent whose ID is <strong>3</strong> should output <strong>6</strong> (and nothing else!) to the console.</p>
    <h4>Agents API</h4>
    <p>All agents have a unique <strong>integer ID</strong> and you can get it using <code>myId()</code>.</p>
    <h4>Oh... and what is that factorial thing?</h4>
    <p>Denoted as <em>n!</em>, factorial is the product of all non-negative integers less than n (<a target="_blank" href="https://en.wikipedia.org/wiki/Factorial">wiki</a>). And by definition, <em>0! = 1</em>.</p>
</div>