<div>
    <h3>More workers = more fun!</h3>
    <p>Ok, enough of boring serial programs. Let's write something more interesting and run it 10x <em>at the same time.</em></p>
    <p>In this example, just try writing a simple program to compute the factorial of the agent's ID. The exact assignment is on the left...</p>
    <p>We have <strong>10 agents</strong> with IDs <code>0, 1, 2, ..., 9</code>. Observe that agents with higher IDs finish later, because they have more work to do (unless you've hard-coded the results, obviously...).</p>
    <h3>Parallel debugging?</h3>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="thumbnail"><img data-src="screen_debug.png"/></a>
        </div>
        <div class="col-md-9">
            <p>For sure. Once you've compiled your code, you can place a breakpoint by clicking on the left bar of the coding area (see image.) When you run the program again, the simulation will pause if one of the agents hits the breakpoint. You'll see in the current agent (and its next instruction) highlighted in the scheduler panel and in the coding area.</p>
        </div>
    </div>
</div>