<div>
    <h4>Goal</h4>
    <p>Write a program for the <strong>bug agents</strong> to walk from left edge of the grid to the right.</p>
    <p>In every step, they must change the color of the current grid column to the prvailing color. In case of a <strong>tie</strong> between <code>COLOR.white</code> and <code>COLOR.skyblue</code>, make the column <strong>white</strong>.</p>
    <h4>Lock-step</h4>
    <p>This simulation will run in lock-step, which means that in a given cycle, all agents perform exactly the same instruction. "What about IFs", you may ask. No worries. If only some agents enter a block of code, the other agents wait. Irregular cycles (for, while) are also taken care of.</p>
    <h4>Broadcasting</h4>
    <p>There is a finite number of channels available for communication between the agents. The number of channels can be changed in the tutorial settings and it is accessible programatically using <code>channelCount()</code>.</p>
    <p><strong>Important:</strong> the broadcasted value can be only received in the same cycle. Basically, in a single call, some agents need to listen and some have to broadcast. (<strong>TIP</strong>: use <code>myId()</code> to determine who sends or listens...)</p>
    <p>If more agents broadcast to the same channel, the information is lost. There is no limit on how many agents may listen on a single channel.</p>
</div>