<div>
    <h4>Assignment</h4>
    <p>Write a program for the butterflies to count the number of tiles with color <code>COLOR.orange</code>.</p>
    <p>Each agent must submit the correct <strong>final result</strong> using <code>submit(number)</code>. That means that when your program finishes, all agents will know what the total is.</p>
    <h4>Exchanging messages</h4>
    <p>Agents can drop messages on the grid using <code>write(message)</code>. The message can be an arbitrary piece of data.</p>
    <p>Messages can be read using <code>read(orentation)</code> - orientation is an enum from the <strong>location</strong> package. That way the agent can read from a neighboring tile. If you want to read from the tile you're currently on, just use <code>read(null)</code>.</p>
    <p>Checkout the cheatsheet for <strong>Messages</strong> for more details.</p>
</div>