<div>
    <p>In this tutorial, we'll be working with agents that work in <strong>lock-step</strong>. Lock-step is a special mode in which all agents perform the same instruction at the same. This brings some restrictions, but also new opportunities for synchronization.</p>
    <p>
        Again, we'll make the bugs march from left to right in a straight line. But this time we will also want to <strong>color the columns</strong> of the grid in the color prevailing in that particular column. In other words, the bugs will have to figure out which color prevails in that particular color.
    </p>
    <p>
        There is a very powerful communication mechanism for this exercise: <strong>broadcast</strong>. There <strong>N</strong> broadcast channels on which agents can either send or receive. You'll find more details about this inside the tutorial, for now, you can leave the settings as they are.
    </p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h4>Channel Count</h4>
                <radio v-model="channelCount" selected-value="2" type="success">2 channels</radio>
                <radio v-model="channelCount" selected-value="4" type="success">4 channels</radio>
                <radio v-model="channelCount" selected-value="8" type="success">8 channels</radio>
                <radio v-model="channelCount" selected-value="16" type="success">16 channels</radio>
            </div>
            <div class="col-md-8">
                <h4>Grid Size and Agent Count</h4>
                <radio v-model="gridSize" selected-value="16" type="success">16x16</radio>
                <radio v-model="gridSize" selected-value="32" type="success">32x32</radio>
            </div>
        </div>
    </div>   
</div>