<div>
    <h3>Bee</h3>
    <p>Bees are very useful; they can fly around the grid and harvest mushrooms using <code>pickup()</code> and <code>drop()</code>. See packages <strong>flying</strong> and <strong>forrest</strong> for more details.</p>
    <p>Bees can also communicate by coloring the grid tiles.</p>
</div>