<div>
    <h3>Bug</h3>
    <p>This <strong>lock-step-coloring bug</strong> agent has the capability of coloring tiles and <strong>broadcasting in lock-step</strong>. Checkout the broadcast package for more details.</p>
</div>