<div>
    <h3>Flower making</h3>
    This package gives the agent the ability to create flowers.
    <h4>Functions</h4>
    <ul>
        <li><code>create()</code> Create a flower at the location of the agent</li>
    </ul>
</div>