<div>
    <h3>Flower moving</h3>
    This package gives the agent the ability to pickup and drop flowers.
    <h4>Functions</h4>
    <ul>
        <li><code>pickup()</code></li>
        <li><code>drop()</code></li>
        <li><code>hasMore()</code></li>
        <li><code>standsOn()</code></li>
    </ul>
</div>