<div>
    <h3>Broadcast</h3>
    <p><code>broadcast(mode, channel, value)</code></p>
    <p>This package provides special broadcast functionality. In a single call, the agent can either send or receive value. There is a finite number of channels.</p>
    <h4>Rules</h4>
    <ul>
        <li>broadcasted value disappears after the end of the execution cycle; i.e. it can be only read by agents who are listening at the time some other agent is broadcasting</li>
        <li>on a given channel, at most 1 agent may broadcast. If more agents send to the same channel, values are distorted</li>
        <li>more agents may listen on the same channel</li>
        <li>listening or broadcasting on a non-existent channel has basically no effect (values are lost)</li>
        <li>TIP: use <code>enableBroadcastDebug()</code> to turn on useful broadcast info in the console</li>
    </ul>
    <h4>Functions</h4>
    <ul>
        <li>
            <code>broadcast(mode, channel, value)</code> Perform broadcast on specified channel
            <ul>
                <li><strong>mode</strong> - MODE.READ or MODE.WRITE, determines whether the agent listens or broadcasts on that channel</li>
                <li><strong>channel</strong> - channel number <strong>0 .. channelCount</strong></li>
                <li><strong>value</strong> - value to send; only relevant for WRITE mode</li>
                <li><strong>returns</strong> - <strong>true</strong> for successful WRITE; <strong>value</strong> for successful READ</li>
            </ul>
        </li>
        <li><code>channelCount()</code> return the number of channels (channels are index 0 .. channelCount())</li>
        <li><code>enableBroadcastDebug()</code> Turn on broadcast debugging logs (READ and WRITE information)</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>MODE = { READ, WRITE }</code> constant determining the broadcast mode</li>
    </ul>
</div>