<div>
    <p>Tutorial for introducing the <code>Flower-planting Bee</code> and <code>Flower-moving Beetle</code> agent types.</p>
    <p>This time you have two agents of each type. Make the bees plant some flowers and the beetles to pick the up!</p>
</div>