<div>
    <h3>Agents</h3>
    <h4>Functions</h4>
    <ul>
        <li><code>myId()</code> <em>number</em>; returns the unique ID of the agent</li>
        <li><code>myName()</code> <em>string</em>; returns the unique name of the agent</li>
        <li><code>myType()</code> <em>string</em>; returns the name of the type of the agent</li>
        <li><code>agentNames()</code> <em>array[string]</em>; returns an array of all agent names</li>
        <li><code>agentTypes()</code> <em>array[string]</em>; returns an array of all agent types</li>
        <li><code>agentCount()</code> <em>number</em>; returns the total number of agents</li>
    </ul>
</div>