<div>
    <h3>Utils</h3>
    <h4>Functions</h4>
    <ul>
        <li><code>length(array)</code> <em>number</em>; returns the length of the array</li>
        <li><code>keys(map)</code> <em>array[string]</em>; returns the keys of the map as an array</li>
        <li><code>values(map)</code> <em>array[string]</em>; returns the values of the map as an array</li>
        <li><code>indexOf(array, element)</code> <em>number</em>; returns the position index of the element in the array (-1 if not present)</li>
        <li><code>typeof(e)</code> <em>string</em>; returns the type of the expression as a string (one of <strong>string, number, boolean, map, array, null</strong>)</li>
        <li><code>toString(e)</code> <em>string</em>; converts expression to string</li>
        <li><code>toNumber(e)</code> <em>number</em>; converts expression to number</li>
        <li><code>toBoolean(e)</code> <em>boolean</em>; converts expression to boolean</li>
    </ul>
</div>