@error-color: #a94442;
@error-bg: #f2dede;
@error-border: #ebccd1;

@info-color: #31708f;
@info-bg: #d9edf7;
@info-border: #bce8f1;

@success-color: #3c763d;
@success-bg: #dff0d8;
@success-border: #d6e9c6;

@warning-color: #8a6d3b;
@warning-bg: #fcf8e3;
@warning-border: #faebcc;