<div>
    <h4>Assignment</h4>
    <p>Write a program for the snails to get all the way to the other side of the grid.</p>
    <h4>How do I move a snail?</h4>
    <p>Check out the <strong>Walking</strong> API in the help section. You'll need to use <code>forward()</code> to move the snail 1 tile in the direction it is facing.</p>
    <h4>Schedulers</h4>
    <p>
        The instructions of those 10 compiled snail programs are interleaved to simulate parallel execution, just like a single CPU can simulate a parallel execution of multiple threads or processes. This is done using a <strong>scheduler</strong>. Try this tutorial with all available schedulers for this platform, and observe the different behavior (you need to load the tutorial again, so to change the scheduler, click on <strong>Select tutorial</strong>...)
        <ul>
            <li><strong>round-robin scheduler</strong></li>
            <li><strong>random scheduler</strong></li>
            <li><strong>lock-step scheduler</strong></li>
        </ul>
    </p>
</div>