<div>
    <h4>Assignment</h4>
    <p>Write a program for the snails to get to the right side of the grid.</p>
    <p>However, there is one <strong>condition</strong> you cannot break: the snails must remain in a vertical line. At any instant, the horizontal distance between any two snails cannot be greater than 1.</p>
    <h4>Synchronization</h4>
    <p>All snails move at a different pace, so you'll need to implement some sort of <strong>barrier</strong> in your code to wait for all snails to reach a certain state.</p>
    <p>Function <code>hasNeighbor(orentation)</code> returns true when there is another agent standing next to the invoking agent (according to the provided orentation...).</p>
</div>