<div>
    <h3>Coloring</h3>
    This package provides basic functionality for accessing and changing the color of the tiles of the grid.
    <h4>Functions</h4>
    <ul>
        <li><code>getColor()</code> Return the color of the tile the agent is standing on</li>
        <li><code>setColor(color)</code> Set the color of the tile the agent is standing on</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>COLOR</code> map containing keys of CSS color names mapped to their numerical values.</li>
    </ul>

    <h4>Example</h4>
    <code>
        setColor(COLOR.green);<br/>
        var color = getColor();<br/>
        forward();<br/>
        setColor(color);<br/>
        forward();<br/>
        setColor(COLOR.red);<br/>
    </code>
</div>