<div>
    <h3>Flying</h3>
    This package provides functionaly for the agent to move freely on the grid without considering its orientation.
    <h4>Functions</h4>
    <ul>
        <li><code>north()</code> Move the agent one tile to the nortj</li>
        <li><code>south()</code></li>
        <li>east()</li>
        <li>west()</li>
    </ul>
</div>