<div>
    <h3>Location</h3>
    This package gives the agent access to its location and orientation on the 2-dimensional grid.
    <h4>Functions</h4>
    <ul>
        <li><code>location()</code> Return the location of the agent as a map <strong>{ col: x, row: y}</strong></li>
        <li><code>orientation()</code> Return the orientation of the agent in radians (see <strong>ORIENTATION</strong>)</li>
        <li><code>gridRows()</code> Turn 90 degrees to the left</li>
        <li><code>gridCols()</code> Turn 90 degrees to the left</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>ORIENTATION</code> enum containin values <strong>{ NORTH, SOUTH, EAST, WEST }</strong></li>
    </ul>
</div>