<div>
    <h3>Master Coloring</h3>
    <h4>Functions</h4>
    <ul>
        <li><code>getColor(col, row)</code> Return the color of the spciffied tile</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>COLOR</code> map containing keys of CSS color names mapped to their color values</li>
    </ul>
</div>