<div>
    <h3>Messages</h3>
    <h4>Functions</h4>
    <ul>
        <li><code>write(message)</code> Store arbitrary variable at the position of the agent</li>
        <li><code>read(orientation)</code> Read message at the position of the agent or a neighboring tile. Use <code>ORIENTATION</code> enum from the location package. To read the current tile, just pass <code>null</code>.</li>
        <li><code>hasNeighbor(orientation)</code> Return <code>true</code> if there is another agent positioned next to the calling agent.</li>
    </ul>
</div>