<div>
    <h3>Objects</h3>
    This package makes the agent able to create, pickup and drop arbitrary objects.
    <h4>Functions</h4>
    <ul>
        <li><code>create(type)</code> Create an object of given type at the location of the agent</li>
        <li><code>pickup(type)</code> Pickup an object of the requested type</li>
        <li><code>drop(type)</code> Drop an object of given type at the location of the agent</li>
        <li><code>hasMore(type)</code> Return true of the agent has picked up objects of the given type</li>
        <li><code>standsOn(type)</code> Return true of the location of the agent has objects of the given type</li>
    </ul>
    <h4>Constants</h4>
    <ul>
        <li><code>TYPE = { flower, strawberry, apple}</code> Some object types</li>
    </ul>
</div>