<div>
    <h3>Walking</h3>
    This package gives the agent to walk on the 2-dimensional grid. Note that this package is tightly related to <strong>location</strong> because the agent walks according to its <strong>orientation</strong>.
    <h4>Functions</h4>
    <ul>
        <li><code>forward()</code> Move one tile forward in the direction of the orientation of the agent</li>
        <li><code>right()</code> Turn 90 degrees to the right</li>
        <li><code>left()</code> Turn 90 degrees to the left</li>
    </ul>
</div>