<div>
    <p>Buckle up, we'll be racing some blazing fast parallel snails.</p>
    <p>Actuially, no. The snails are lazy and they move with very different speeds. Your task will be to keep them synchronized in a <strong>straight line</strong>.</p>
    <p>It's important to note that the <strong>cost functions</strong> for these snails are random, so the programs will actually diverge quite a bit.</p>
    <h4>Cheating</h4>
    <p>Note that solving this exercise using <strong>lock-step scheduler</strong> is trivial. Try it ;)</p>
</div>