<div class="container-fluid">
    <p>In this exercise, you'll write code for some semi-smart <strong>beetle agents</strong> to find path through a maze.</p>
     <h4>Number of beetles</h4>
     <p>You can try this assignment with different numbers of agents:</p>
            <radio v-model="beetleCount" selected-value="1" type="success">1 beetle</radio>
            <radio v-model="beetleCount" selected-value="2" type="success">2 beetles</radio>
            <radio v-model="beetleCount" selected-value="4" type="success">4 beetles</radio>
</div>