<div class="container-fluid">
    Turn the grid into a <strong>tomato</strong> field! Use the <strong>master ladybugs</strong> to command the <strong>worker butterflies</strong> to color the grid with <code>COLOR.tomato</code> as efficiently as possible.
    <div class="row">
        <div class="col-md-4">
            <h4>Master count</h4>
            <radio v-model="masterCount" selected-value="2" type="success">2 masters (ladybugs)</radio>
            <radio v-model="masterCount" selected-value="4" type="success">4 masters (ladybugs)</radio>
            <radio v-model="masterCount" selected-value="6" type="success">6 masters (ladybugs)</radio>
        </div>

        <div class="col-md-4">
            <h4>Worker count</h4>
            <radio v-model="workerCount" selected-value="4" type="success">4 workers (butterflies)</radio>
            <radio v-model="workerCount" selected-value="8" type="success">8 workers (butterflies)</radio>
            <radio v-model="workerCount" selected-value="16" type="success">16 workers (butterflies)</radio>
        </div>
        
        <div class="col-md-4">
            <h4>Grid Size</h4>
            <radio v-model="gridSize" selected-value="12" type="success">12x12</radio>
            <radio v-model="gridSize" selected-value="16" type="success">16x16</radio>
            <radio v-model="gridSize" selected-value="24" type="success">24x24</radio>
        </div>
    </div>
</div>