<div>
    <h4>Assignment</h4>
    <p>Write a program for the beetles to get home through the forrest maze!</p>
    <h4>Hints</h4>
    <p>Obviously, the beetles can walk (see package <strong>walking</strong>). But they can also change and see the <strong>color</strong> of the grid tile they're standing on. You can use <code>getColor()</code> and <code>setColor(color)</code> to mark some positions. Why check the same dead end twice, right?</p>
</div>