<div>
    <h3>Console API</h3>
    <ul>
        <li><code>info(message)</code></li>
        <li><code>log(message)</code></li>
        <li><code>print(message)</code></li>
        <li><code>debug(message)</code></li>
        <li><code>error(message)</code></li>
    </ul>
</div>