<div>
    <h4>Assignment</h4>
    Write a program for agent <strong>worker-1</strong> to print its name to the console!
    <h4>Agents API</h4>
    <p>All agents have a unique <strong>name</strong> and <strong>ID</strong>. You can access the name and ID of an agent programatically by calling <code>myName()</code> and <code>myId()</code>, respectively. You can also access the list of all agent types and agent names, just check out section <strong>Agents</strong> in the help panel of the coding area.</p>
    <h4>Console API</h4>
    <p>You can use <code>print(value)</code> to output anything (number, string, array...) to the console.</p>
</div>