<div>
    <h2>Your Assignment</h2>
    <p>In every tutorial, you'll see the assignment and some useful hints in the <strong>panel on the left</strong>.</p>
    <p>Now look at the tabs at the bottom of the screen. Besides the main console, you should see the tab of the <strong>Worker</strong> agent. That's where you can type up your program to solve the assignment. </p>
    <p>Once you're done coding, just click <strong>Compile &amp; Run</strong> and see what happens. If your code compiles well, you should see some output in the console.</p>
    <h2>Programming Hints...</h2>
    <p>You will program the agents in Parascript, which is very simialr JavaScript (same syntax of IF-statements and loops...). </p>
    <p>Remember:</p>
    <ul>
        <li>declare all variables, like this: <code>var identifier;</code></li>
        <li>terminate all statements with <strong>semicolons;</strong></li>
        <li>there are no objects, but you can use the <strong>map</strong> type like this: <code>var map = { key: 'value' }</code></li>
    </ul>
    <p>Checkout the <strong><icon name="book" /> Help</strong> section in the top-right corner of the coding area. It contains a useful cheatsheet with all functions available for that particular agent type.</p>
    <h3>So... what are agents and agent types?</h3>
    <p>In this simplistic example, there's just one agent called <strong>worker-1</strong> of type <strong>Worker</strong>. In general, there can be any number of agents and any number of agent types. There will be one coding area per agent type, so all agents of a given type execute the same code (but in a completely separate context, agents don't share any variables.)</p>
</div>