<div>
    <div>
        <p>Butterflies can be useful, for example for counting the number of colored tiles on 2-dimensional grid. In this exercies, you want to write the most efficient algorithm for multiple agents to count the number of orange tiles.</p>
        <p>This time, the agents can <strong>exchange messages</strong>.</p>
    </div>
    <div >
        <h4>Number of agents</h4>
        <p>You can try this exercise with different number of butterflies agents to count the tiles!</p>
        <radio v-model="agentCount" selected-value="2" type="success">2 agents</radio>
        <radio v-model="agentCount" selected-value="3" type="success">3 agents</radio>
        <radio v-model="agentCount" selected-value="4" type="success">4 agents</radio>
    </div>
</div>