<template>

    <div class="logo"><img src="../../assets/parapple.png"> Parapple</div>

</template>

<style>
    div.logo {
        font-size: 32px
    }
    div.logo img {
        width: 32px
    }
</style>