<div class="container-fluid">
    <h4>Assignment</h4>
    <p>Program the agents to color the grid with <code>COLOR.tomato</code> as efficiently as possible.</p>
    <p><strong>Butterflies</strong> can change the color of the tiles, but they move quite slowly and they know only the color of the field they're currenty on.</p>
    <p><strong>Ladybugs</strong> know the state of the etire grid and they move quickly, but they cannot color the tiles.</p>
    <h4>Tips</h4>
    <p>Use the ladybugs to load-balance the work between the butterflies! All agents can exchange <strong>messages</strong> (see help for details.)</p>    
</div>