<div class="container-fluid">
    
            <h4>Bee count</h4>
            <radio v-model="workerCount" selected-value="4" type="success">4 bees</radio>
            <radio v-model="workerCount" selected-value="6" type="success">6 bees</radio>
            <radio v-model="workerCount" selected-value="8" type="success">8 bees</radio>

</div>